:root {
  --dalek-light-color: #d2b78e;
  --dalek-fill-color: #b3976c;
  --dalek-border-color: #826a45;
  --head-fill-color: #6b6767;
  --head-border-color: #454545;
  --antenna-border-color: #e7db5a;
  --antenna-fill-color: #d1cb89;
  --stick-fill-color: #b2b2b2;
  --stick-border-color: #9f9f9f;
  --plunger-fill-color: #454545;
  --plunger-border-color: #2d2d2d;
  --dark-fill-color: #736145;
  --dark-border-color: #554732;
  --bubble-fill-color: #be9b71;
  --bubble-shine-color: #d6bb9a;
  --custom-dalek-filter:
    drop-shadow(0 -6px 0 var(--dalek-border-color))
    drop-shadow(6px 0 0 var(--dalek-border-color))
    drop-shadow(0 6px 0 var(--dalek-border-color))
    drop-shadow(-6px 0 0 var(--dalek-border-color));
  --custom-eye-filter:
    drop-shadow(0 -4px 0 var(--head-border-color))
    drop-shadow(4px 0 0 var(--head-border-color))
    drop-shadow(0 4px 0 var(--head-border-color))
    drop-shadow(-4px 0 0 var(--head-border-color));
  --custom-plunger-filter:
    drop-shadow(0 -4px 0 var(--plunger-border-color))
    drop-shadow(4px 0 0 var(--plunger-border-color))
    drop-shadow(0 4px 0 var(--plunger-border-color))
    drop-shadow(-4px 0 0 var(--plunger-border-color));
  --custom-dark-box-filter:
    drop-shadow(0 -4px 0 var(--dark-border-color))
    drop-shadow(4px 0 0 var(--dark-border-color))
    drop-shadow(0 4px 0 var(--dark-border-color))
    drop-shadow(-4px 0 0 var(--dark-border-color));
}

.container {
  margin-top: 3em;
  display: flex;
  justify-content: center;
}

.dalek {
  position: relative;

  & .head-container {
    position: relative;
    z-index: 1;

    & .head-parent {
      filter: var(--custom-dalek-filter);
    }

    & .head {
      width: 200px;
      height: 200px;
      background: var(--dalek-fill-color);
      border-radius: 50%;
      clip-path: polygon(-25% -25%, 125% -25%, 125% 40%, -25% 40%);
      transform: rotate(-2deg);
    }

    & .antenna-container {
      & .antenna {
        width: 30px;
        height: 20px;
        background: var(--antenna-fill-color);
        border: 6px solid var(--antenna-border-color);
        border-bottom-left-radius: 50%;
        border-bottom-right-radius: 50%;
        perspective: 60px;
        transform: translate(81px, -179px);

        &::before {
          content: "";
          display: block;
          background: inherit;
          border: inherit;
          border-bottom: 0;
          width: 85%;
          height: 40px;
          transform: translate(-4px, -42px) rotateX(15deg);
        }

        &::after {
          content: "";
          display: block;
          background: inherit;
          border: inherit;
          border-radius: 50%;
          width: 80%;
          height: 10px;
          transform: translate(-3px, -89px);
        }
      }
    }

    & .eye-container {
      display: flex;
      width: 200px;
      height: 50px;
      position: absolute;
      top: 0;
      z-index: -1;
      transform: translate(-120px, 0);

      & .box {
        width: 45px;
        height: 38px;
        background: var(--dalek-fill-color);
        border: 6px solid var(--dalek-border-color);
      }

      & .stick {
        border: 3px solid var(--head-fill-color);
        width: 75px;
        height: 0;
        align-self: center;

        & .rubber-container {
          width: 40px;
          height: 45px;
          position: absolute;
          transform: translate(20px, -22px);
          display: flex;
          justify-content: space-around;
          clip-path: ellipse(50% 35% at 50% 50%);

          & .rubber {
            width: 4px;
            height: 100%;
            background: var(--arm-border-color);

            &.rubber-3,
            &.rubber-4 {
              width: 6px;
            }
          }
        }
      }

      & .eye-parent {
        display: flex;
        width: 45px;
        height: 100%;
        position: relative;
        filter: var(--custom-eye-filter);

        & .eye-front {
          width: 45%;
          height: 100%;
          border-radius: 50%;
          background: var(--head-border-color);
          clip-path: polygon(0 0, 50% 0, 50% 100%, 0 100%);
          position: relative;
          z-index: 1;
        }

        & .eye-base {
          width: 85%;
          height: 100%;
          background: var(--head-fill-color);
          position: absolute;
          z-index: 0;
          transform: translate(8px, 0);
          clip-path: polygon(0 0, 100% 50%, 0 100%);
        }
      }
    }

    & .inner-head {
      position: relative;
      transform: translate(5px, -160px);
      z-index: -1;

      & .back {
        width: 180px;
        height: 100px;
        border: 6px solid var(--head-border-color);
        background: var(--head-fill-color);
        position: absolute;
      }

      & .axis {
        background: var(--dalek-fill-color);
        border: 4px solid var(--dalek-border-color);
        z-index: 2;
        position: relative;
      }

      & .vertical {
        display: flex;
        position: absolute;
        width: 100%;
        justify-content: space-around;
        z-index: 0;

        & .axis {
          background: var(--dalek-light-color);
          height: 100px;
          width: 10px;
        }
      }

      & .horizontal {
        display: grid;
        grid-template-rows: repeat(2, 50px);
        align-items: self-end;
        perspective: 20px;
        z-index: 1;
        transform: translateY(-10px);

        & .axis {
          height: 10px;
          width: 92%;
          transform: skewX(-2deg) rotateX(5deg) scale(1.1);
        }

        & .haxis-2 {
          transform: skewX(-2deg) rotateX(5deg) scale(1.2) translateY(-12px);
        }
      }
    }
  }

  & .neck-container {
    position: relative;
    transform: translate(0, -170px);
    z-index: 0;
    perspective: 32px;

    & .neck {
      background: var(--dalek-fill-color);
      border: 4px solid var(--dalek-border-color);
      height: 100px;
      display: flex;
      justify-content: space-around;
      align-items: center;
      transform: rotateX(2deg) translateY(-1px) scale(1.1);

      & .part {
        width: 10px;
        height: 70%;
        border: 5px solid var(--dalek-border-color);
        background: var(--dalek-light-color);
      }
    }

    & .arm {
      &.plunger {
        display: flex;
        width: 250px;
        height: 75px;
        transform: translate(-200px, -150px) rotate(40deg);
        position: absolute;
        z-index: -1;
        align-items: center;

        & .plunger-front {
          width: 20%;
          height: 90%;
          background: var(--plunger-fill-color);
          border: 4px solid var(--plunger-border-color);
          border-radius: 20% 50% 50% 20%;
        }

        & .plunger-base {
          width: 5%;
          height: 30%;
          background: var(--plunger-fill-color);
          border: 4px solid var(--plunger-border-color);
          border-radius: 50%;
          transform: translateX(-6px);
        }

        & .stick-front {
          width: 100%;
          height: 5%;
          background: var(--stick-fill-color);
          border: 3px solid var(--stick-border-color);
          transform: translateX(-10px);
          z-index: -1;
        }

        & .stick-base {
          width: 100%;
          height: 20%;
          background: var(--stick-fill-color);
          border: 3px solid var(--stick-border-color);
          transform: translateX(-10px);
          z-index: -1;
        }
      }

      &.mixer {
        width: 200px;
        height: 50px;
        display: flex;
        align-items: center;
        transform: translate(-180px, -49px) rotate(0);
        z-index: -1;
        position: relative;

        & .mixer-shape-container {
          width: 70%;
          height: 100%;
          position: absolute;
          z-index: -1;

          & .mixer-shape {
            background: repeating-linear-gradient(to bottom, transparent 0% 9%, var(--plunger-fill-color) 10% 18%);
            width: 100%;
            height: 100%;
            clip-path: polygon(0 50%, 25% 0, 75% 0, 100% 50%, 75% 100%, 25% 100%);
          }
        }

        & .mixer-stick {
          width: 100%;
          height: 8%;
          background: var(--stick-fill-color);
          border: 3px solid var(--plunger-fill-color);

          &::before {
            content: "";
            display: block;
            width: 8px;
            height: 20px;
            background: var(--plunger-fill-color);
            transform: translate(-5px, -8px);
            border-radius: 50%;
            position: relative;
            z-index: -1;
          }
        }

        & .mixer-base {
          width: 40%;
          height: 100%;
          background: var(--head-border-color);
          border-radius: 50%;
          transform: translateX(-5px);
        }
      }
    }

    & .box-arm-container {
      filter: var(--custom-dark-box-filter);
      perspective: 20px;
      z-index: 4;
      position: relative;
    }

    & .box-arm {
      background: var(--dark-fill-color);
      width: 90px;
      height: 40px;
      position: absolute;
      transform: translate(-12px, -98px) skew(350deg);
      clip-path: polygon(0 0, 100% 0, 70% 100%, 0 100%);

      &::after {
        content: "";
        display: block;
        width: 30px;
        height: 50px;
        background: inherit;
        float: right;
      }
    }
  }

  & .band-container {
    width: 260px;
    height: 30px;
    background: var(--dalek-fill-color);
    border: 4px solid var(--dalek-border-color);
    border-radius: 5% / 15% 45%;
    position: absolute;
    transform: translate(-32px, -60px);
  }

  & .body-container {
    width: 290px;
    height: 275px;
    transform: translate(-70px, -230px);
    position: absolute;
    z-index: -1;
    perspective: 20px;

    & .body {
      width: 100%;
      height: 90%;
      background: var(--dalek-border-color);
      border: 6px solid var(--dalek-border-color);
      transform: rotateX(2deg) skewX(-11deg);
      display: flex;
      overflow: hidden;

      & .band {
        width: 20%;
        margin-right: 16px;
        height: 100%;
        background: var(--dalek-fill-color);
        transform: skew(0deg) scale(1.2);

        &.band-1 {
          width: 3%;
          margin-right: 10px;
          background: #93784f;
        }

        &.band-2 {
          width: 14%;
          background: #a08761;
        }

        &.band-3 {
          width: 28%;
          margin-right: 22px;
          background: #b7a07e;
        }

        &.band-4 {
          width: 38%;
          background: #d4c2a5;
        }

        &.band-5 {
          width: 10%;
          margin-right: 0;
          background: #a08761;
        }
      }
    }
  }

  & .balls-container {
    position: absolute;
    transform: translate(-125px, -200px);
    display: flex;

    & .band {
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      width: 75px;
      height: 250px;

      & .ball {
        width: 36px;
        height: 36px;
        border-radius: 50%;
        background: var(--bubble-fill-color);
        box-shadow: -3px -3px 0 rgba(0, 0, 0, 0.2) inset;
        z-index: 10;

        &::after {
          content: "";
          display: block;
          background: var(--bubble-shine-color);
          width: 10px;
          height: 10px;
          border-radius: 50%;
          transform: translate(14px, 5px);
        }
      }
    }

    & .band-1 {
      & .ball:nth-child(1) { transform: translateX(90px); }
      & .ball:nth-child(2) { transform: translateX(68px); }
      & .ball:nth-child(3) { transform: translateX(46px); }
      & .ball:nth-child(4) { transform: translateX(25px); }
    }

    & .band-2 {
      & .ball:nth-child(1) { transform: translateX(86px); }
      & .ball:nth-child(2) { transform: translateX(70px); }
      & .ball:nth-child(3) { transform: translateX(55px); }
      & .ball:nth-child(4) { transform: translateX(40px); }
    }

    & .band-3 {
      & .ball:nth-child(1) { transform: translateX(80px); }
      & .ball:nth-child(2) { transform: translateX(72px); }
      & .ball:nth-child(3) { transform: translateX(64px); }
      & .ball:nth-child(4) { transform: translateX(54px); }
    }

    & .band-4 {
      & .ball:nth-child(1) { transform: translateX(50px); }
      & .ball:nth-child(2) { transform: translateX(50px); }
      & .ball:nth-child(3) { transform: translateX(50px); }
      & .ball:nth-child(4) { transform: translateX(50px); }
    }

    & .band-5 {
      & .ball:nth-child(1) { transform: translateX(30px); }
      & .ball:nth-child(2) { transform: translateX(33px); }
      & .ball:nth-child(3) { transform: translateX(37px); }
      & .ball:nth-child(4) { transform: translateX(40px); }
    }
  }

  & .foot-container {
    width: 215%;
    position: absolute;
    transform: translate(-165px, 40px);

    & .foot-top {
      height: 40px;
      border: 6px solid var(--plunger-fill-color);
      background: var(--head-fill-color);
      border-radius: 20% 20% / 45% 45% 0 0;
    }

    & .foot-bottom {
      width: 418px;
      height: 50px;
      border: 6px solid black;
      border-top: 0;
      background: var(--head-border-color);
      border-radius: 10% / 0 0 20% 20%;
      position: absolute;
      z-index: 2;
      transform: translate(0, -25px);
    }
  }
}
